.topNav {
  overflow: hidden;
  grid-area: header;
}

.topNav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  border-bottom: red;
}

.topNav .icon {
  display: none;
}

.dropdown1 {
  float: left;
  overflow: hidden;
}

.dropdown1 .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  background: #ffffff;
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  background: #ffffff;
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
}

.dropDownContent {
  position: absolute;
  min-width: 160px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


@media (max-width: 599px) {
  .dropdown {
    float: none;
    overflow: initial;
  }
  .dropDownContent {
    background-color: none;
  }
  .dropdown .dropbtn {
    background: none;
  }
}


.dropDownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
    
.dropDownContent a:hover {
  background-color:#E0E0E0;
}

.dropDownContent .logoutSubmit {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navLogo {
    position: relative;
    float: left;
    margin: 10px 15px 15px 10px;
    width: 75px;
    height: 50px;
  }

  .navHR {
    border: 2px solid #ff5050;
    width: 100%;
  }

/* Hamburger menu */
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  /*padding: 2.5em 1.5em 0;*/
  font-size: 1.15em;
  margin-top: -10px;
  margin-left: -10px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  /* padding: 0.8em; */
}

/* Individual item */
.bm-item {
  display: block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  margin-top: -10px;
}
