.App {
  text-align: center;
  display: grid;
  grid-template: 1 1 1 / 1;
  grid-template-areas: 'header' 'home' 'footer';
  font-family: 'Roboto', sans-serif;
  /* background: linear-gradient(175deg, #ffffff, 40%, #ff505060); */
} 

ul {
  list-style: none;
}

.logoStyle {
  position: relative;
  float: left;
  margin: 10px 15px 15px 10px;
  width: 225px;
  height: 50px;
}

/*container for user select submit*/
.topContainer {
  padding-bottom: 200px;
  padding-top: 80px;
  font-family: sans-serif;
  clear: left;
}

/*bottom container for decorative line*/
.bottomContainer {
  margin: auto;
  border-top: 16px dotted #00000010;
  margin-top: 70px;
  width: 75%;
}

/*list of users on Login*/
.userSelect {
  list-style-type: none;
}

/*image on Login*/
.userSelectImg {
  display: inline;
  padding-right: 15px;
}

.userSelectImg:hover {
  cursor: pointer;
}

/*Selected user on Login*/
.selectedUser {
  border: #ff505090 solid 3px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.userAvatar {
  padding: 3px;
}

.userAvatar:hover {
  border: #ff5050 solid 3px;
  transition: border 0.2s ease-out;
}

/*login button*/
.loginSubmit {
  background: #ffffff;
  border: #ff5050 solid 2px;
  border-radius: 10%;
  transition: background-color 0.3s ease-in;
  padding: 10px;
  font-family: sans-serif;
}

.loginSubmit:hover {
  background: #ff505040;
  transition: background-color 0.25s ease-out;
}

/*Welcome Screen*/
.welcomeScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #ffffff;
  filter: alpha(opacity=75);
  -moz-opacity: 0.9;
  opacity: 0.9;
}

.welcomeScreen > h1 {
  padding: 5px;
  border-radius: 5px;
  color: #000000;
  background-color: #ffffff;
  position: relative;
  top: 35%;
}

.disabled {
  transition: visibility 0.5s, opacity 0.5s linear;
  visibility: hidden;
  opacity: 0;
}

/*Home component*/

.textBreak {
  border: 2px solid #00000030;
  width: 75%;
}

.userArticleBottomContainer {
  margin: auto;
  border-bottom: 16px dotted #00000010;
  margin-top: 50px;
  width: 75%;
}

/*User component*/

.userBottomContainer {
  margin: auto;
  border-bottom: 16px dotted #00000010;
  margin-top: 50px;
  width: 75%;
}

/*Tabs component*/
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

/* Topics component*/

.topicArticleElements > li {
  display: inline;
}

.topicArticleElements > hr {
  border-bottom: 2px solid #00000030;
  width: 75%;
}

/* Article component */

.articleRender > hr {
  border-bottom: 2px solid #00000030;
  width: 75%;
  margin-top: 30px;
}

.articleRender > p {
  margin-top: 20px;
}

.articleBottomContainer {
  margin: auto;
  border-bottom: 16px dotted #00000010;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 75%;
}

.loadCommentsForArticle {
  background: #ffffff;
  border: #ff5050 solid 2px;
  border-radius: 10%;
  transition: background-color 0.3s ease-in;
  padding: 10px;
  font-family: sans-serif;
}

.loadCommentsForArticle:hover {
  background: #ff505040;
  transition: background-color 0.25s ease-out;
}

/* Comments Component */

.commentsHR {
  border-bottom: 2px solid #00000030;
  width: 75%;
  margin-top: 10px; 
}

.commentsSort {
  margin-left: 475px;
}

/* NewArticle Component */

.topicSelectorNewArticle {
  background: #ffffff;
  border: none 2px;
  border-radius: 10%;
  transition: background-color 0.3s ease-in;
  padding: 10px;
  font-family: sans-serif;
  font-size: 18px;
}

.topicSelectorNewArticle:hover {
  background: #ff505040;
  transition: background-color 0.25s ease-out;
}

.newArticleForm {
  padding: 15px;
}

.newArticleInput {
  padding: 5px;
  margin: 5px;
}

.submitButtonNewArticle {
  background: #ffffff;
  border: #ff5050 solid 2px;
  border-radius: 10%;
  transition: background-color 0.3s ease-in;
  padding: 10px;
  font-family: sans-serif;
}

.submitButtonNewArticle:hover {
  background: #ff505040;
  transition: background-color 0.25s ease-out;
}

.textBreakNewArticle {
  border-bottom: 16px dotted #00000010;
  width: 75%;
}

/* Footer Component */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  position: sticky;
  bottom: 0;
  width: 100%;
  background: linear-gradient(175deg, #ffffff, 40%, #ff505060);
}