.App {
  display: grid;
  grid-template-areas: 
    'header header header'
    'tabs tabs tabs' 
    '. home .'
    'footer footer footer';
  grid-template-columns: 17% auto 17%;
  grid-template-rows: auto;
  font-family: 'Roboto', sans-serif;
  /* background: linear-gradient(175deg, #ffffff, 40%, #ff505060); */
} 

textarea, input, button, select { font-family: inherit; font-size: inherit; }

p {
  line-height: 1.3;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.content {
  grid-area: home;
}

.contentHeader {
  text-align: center;
}

.logoStyle {
  position: relative;
  float: left;
  margin: 10px 15px 15px 10px;
  width: 225px;
  height: 50px;
}

.voteButton {
  margin-left: 5px;
  margin-right: 5px;
}

/*container for user select submit*/
.topContainer {
  padding-bottom: 200px;
  padding-top: 80px;
  font-family: sans-serif;
  clear: left;
}

/*bottom container for decorative line*/
.bottomContainer {
  margin: auto;
  border-top: 16px dotted #00000010;
  margin-top: 40px;
  margin-bottom: 50px;
  width: 75%;
}

/*list of users on Login*/
.userSelect {
  list-style-type: none;
}

/*image on Login*/
.userSelectImg {
  display: inline;
  margin: 15px;
}

.userSelectImg:hover {
  cursor: pointer;
}

/*Selected user on Login*/
.selectedUser {
  border: #ff505090 solid 3px;
}

.userAvatar {
  padding: 3px;
}

.userAvatar:hover {
  border: #ff5050 solid 3px;
  transition: border 0.2s ease-out;
}

/*login button*/
.loginSubmit {
  background: #ffffff;
  border: #ff5050 solid 2px;
  border-radius: 10%;
  transition: background-color 0.3s ease-in;
  padding: 10px;
  font-family: sans-serif;
}

.loginSubmit:hover {
  background: #ff505040;
  transition: background-color 0.25s ease-out;
}

.loginContainer {
  text-align: center;
}

/*Welcome Screen*/
.welcomeScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #ffffff;
  filter: alpha(opacity=75);
  -moz-opacity: 0.9;
  opacity: 0.9;
}

.welcomeScreen > h1 {
  padding: 5px;
  border-radius: 5px;
  color: #000000;
  background-color: #ffffff;
  position: relative;
  top: 35%;
}

.disabled {
  transition: visibility 0.5s, opacity 0.5s linear;
  visibility: hidden;
  opacity: 0;
}

/*Home component*/
.textBreak {
  border: 2px solid #00000030;
  width: 75%;
}

.userArticleContainer  p {
  line-height: 1.3;
}
.userArticleBottomContainer {
  margin: auto;
  border-bottom: 16px dotted #00000010;
  margin-top: 50px;
  width: 75%;
}

.deleteButton {
  background: #ffffff;
  border: #ff5050 solid 0.5px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in;
}

.deleteButton:hover {
  background: #ff505040;
  transition: background-color 0.25s ease-out;
}

/*User component*/

.userBottomContainer {
  margin: auto;
  border-bottom: 16px dotted #00000010;
  margin-top: 50px;
  width: 75%;
}

.usersList {
  text-align: center;
}
/*Tabs component*/
.tabs {
  grid-area: tabs;
}

.tab-content {
  text-align: left;
}

.tab-list {
  border-bottom: 1px solid #ff5050;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  border-radius: 5px;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ff5050;
  border-width: 3px 3px 0 3px;
}

/* Topics component*/


.topicArticleElements > li {
  display: inline;
}

.topicArticleElements > hr {
  border-bottom: 2px solid #00000030;
  width: 75%;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* Article component */

.articleRender > hr {
  border-bottom: 2px solid #00000030;
  width: 75%;
  margin-top: 30px;
}

.articleRender > p {
  margin-top: 20px;
}



.loadCommentsForArticle {
  background: #ffffff;
  border: #ff5050 solid 2px;
  border-radius: 10%;
  transition: background-color 0.3s ease-in;
  padding: 10px;
  font-family: sans-serif;
}

.loadCommentsForArticle:hover {
  background: #ff505040;
  transition: background-color 0.25s ease-out;
}

/* Comments Component */

.commentFormContainer {
  margin-top: 20px;
}

.commentsHR {
  border-bottom: 2px solid #00000030;
  width: 75%;
  margin-top: 10px; 
}

.loadCommentsButton {
  background: #ffffff;
  border: #ff5050 solid 2px; 
  border-radius: 10%;
  transition: background-color 0.3s ease-in;
  padding: 5px;
  margin-left: 3px;
}

.loadCommentsButton:hover {
  background: #ff505060;
  transition: background-color 0.25s ease-out;  
}

.commentsSort {
  text-align: left;
}

.commentValueSelect {
  background: #ffffff;
  border: #ff5050 solid 0.5px;
  border-radius: 8px;
  margin: 1px;
}

.commentInputForm {
  text-align: center;
  margin-top: 15px;
}
.commentTextarea {
  height: 75px;
  width: 90%;
  resize: none;
  border-radius: 8px;
}

.commentSubmitButton {
  background: #ffffff;
  border: #ff5050 solid 2px; 
  border-radius: 10%;
  transition: background-color 0.3s ease-in;
  padding: 5px;
  margin-left: 3px;
}

.commentSubmitButton:hover {
  background: #ff505060;
  transition: background-color 0.25s ease-out;
}

.deleteCommentButton {
  background: #ffffff;
  border: #ff5050 solid 2px; 
  border-radius: 8px;
  transition: background-color 0.3s ease-in;
  padding: 2px;
}

.deleteCommentButton:hover {
  background: #ff505060;
  transition: background-color 0.25s ease-out;
}

/* NewArticle Component */

.topicSelectorNewArticle {
  background: #ffffff;
  border-radius: 8px;
  transition: background-color 0.3s ease-in;
  padding: 10px;
  font-family: sans-serif;
  font-size: 18px;
}

.topicSelectorNewArticle:hover {
  background: #ff505040;
  transition: background-color 0.25s ease-out;
}

.newArticleForm {
  padding: 15px;
}

.submitButtonNewArticle {
  background: #ffffff;
  border: #ff5050 solid 2px;
  border-radius: 10%;
  transition: background-color 0.3s ease-in;
  margin-top: 5px;
  padding: 10px;
  font-family: sans-serif;
}

.submitButtonNewArticle:hover {
  background: #ff505040;
  transition: background-color 0.25s ease-out;
}

.textBreakNewArticle {
  border-bottom: 16px dotted #00000010;
  width: 75%;
}

.articleFieldset {
  border: none;
}

.newArticleTextarea {
  height: 200px;
  resize: none;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 8px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Footer Component */

.footer {
  text-align: center;
  display: inline;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  grid-area: footer;
  background: linear-gradient(175deg, #ffffff, 40%, #ff505060);
  padding-top: 13px;
  padding-bottom: 15px;
}

.footer > h1 {
  display: inline;
}

.footer > img {
  margin-right: 10px;
  vertical-align: bottom;
}